nltk>=3.4
tqdm>=4.30
checksumdir>=1.1
visdom
Pillow
future
torch
numpy>=1.15.0
scipy
scikit-learn==0.20.3
pytorch-pretrained-bert>=0.6.1
transformers>=2.3.0
tensorflow==2.5.1
tensorboard>=1.14.0
tensorboardX==1.7
allennlp
requests
simplejson
unidecode
jieba
embeddings
quadprog
